---
extends:
  - formidable
  - prettier
plugins:
  - jest
  - prettier
env:
  jest/globals: true
  browser: true
rules:
  quotes:
    - error
    - single
  no-unsafe-negation:
    - off
  max-nested-callbacks:
    - off
  arrow-parens:
    - off
  comma-dangle:
    - 2
    - always-multiline
  prettier/prettier:
    - error
    - trailingComma: es5
  eqeqeq:
    - error
    - smart
  max-statements:
    - off
