## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Pods are ignored in the samples as all Pods & their dependencies are either
# development Pods (this repo) or sourced from repos in the same organization.
# Generally we recommend committing Pod artifacts to version control, read about
# the pros & cons here:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Pods

# Carthage
#
# Add these lines if you want to avoid checking in source code from Carthage
# dependencies. Generally we recommend committing Carthage artifacts to version
# control.
Carthage/Checkouts
Carthage/Build
