---
extends:
  - formidable/configurations/es6-react
plugins:
  - jest
env:
  jest/globals: true
  browser: true
rules:
  quotes:
    - error
    - double
  no-unsafe-negation:
    - off
  max-nested-callbacks:
    - off
  arrow-parens:
    - off
  filenames/match-regex:
    - off
